.colorweb{
    background-color:rgba(154, 219, 22, 0.9); 
}


.icon-bar {
    position: fixed;
    top: 50%;
    right: 5px;
    border-radius: 9px;
    cursor: cell;
  }
  


.showDetails {
    /* display: none; */
    background-color: red;
    position: fixed;
    top: 50px;
}