.colorweb{
    background-color:rgba(154, 219, 22, 0.9); 
}

.icon-bar {
    position: fixed;
    top: 50%;
    right: 5px;
    border-radius: 9px;
    cursor: cell;
  }

.flex-container{
    display: flex;
    justify-content: space-around;

}

/* div beta3et el total fe el cart */
.total{
    float: right;
    width:400px;
    /* height: 100px; */
}
.total hr {
    background-color: #555;
    /* border: 1px solid #555; */
    /* display: block; */
    height: 4px;
    /* overflow: visible; */
    /* position: relative; */
    width: 100%;
}


.total hr:before {
    background-color:rgba(154, 219, 22, 0.9);
    content: '';
    display: block;
    height: 5px;
    left: 0;
    /* position: absolute; */
    top: -2px;
    width: 30%;
    z-index: 1;
}
/* end of div total fe el cart */

/* styling of about page  */
#one{
    margin-top: 500px;
    font-weight: bold;
    z-index: 100;
    color: rgb(104, 104, 104);
    text-shadow:5px 5px 10px grey;
    text-shadow:10px 10px 20px black;
  }
  
  #two{
    position: absolute;
    /* width: 300px; */
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0.8;  
    
  } 
  .m{
    filter: grayscale(60%);
  }